server:
  port: 8083

spring:
  application:
    name: notification
  # --- Database Configuration ---
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/maintenance_match_db}
    username: ${DB_USER:ds_user}
    password: ${DB_PASS:ds_pass}
  # --- JPA & Hibernate Configuration ---
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

# --- Actuator Health Endpoint Configuration ---
management:
  endpoints:
    web:
      exposure:
        include: "health,info"
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true