apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway-app
  namespace: maintenance-match
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: api-gateway
          image: kidushawoltu/ds-mm-api-gateway:v1
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: AUTH_URL
              valueFrom: { configMapKeyRef: { name: mm-config, key: AUTH_URL } }
            - name: MATCHING_URL
              valueFrom: { configMapKeyRef: { name: mm-config, key: MATCHING_URL } }
            - name: NOTIFICATION_URL
              valueFrom: { configMapKeyRef: { name: mm-config, key: NOTIFICATION_URL } }
            - name: AUTH_PUBLIC_KEY_URL
              valueFrom: { configMapKeyRef: { name: mm-config, key: AUTH_PUBLIC_KEY_URL } }
            - name: SERVER_PORT
              value: "8080"
---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway-svc
  namespace: maintenance-match
spec:
  type: NodePort
  selector:
    app: api-gateway
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30080